APP_ENV=development
APP_NAME=FlashFlood API
APP_VERSION=0.1.0
CORS_ORIGINS=["http://localhost:5173"]

WEATHER_UPSTREAM_LATITUDE=26.31393
WEATHER_UPSTREAM_LONGITUDE=94.51675

WEATHER_DOWNSTREAM_LATITUDE=27.0280
WEATHER_DOWNSTREAM_LONGITUDE=95.0312

WEATHER_FORECAST_HORIZON_HOURS=6
WEATHER_TIMEOUT_SECONDS=5